
/* Library */
@import 'library/all';

/* Base Style */
.jScrolly { 

    overflow-x: scroll; position: relative;

    > .jPanel {  

        display: none;   

    }

    > .jContent {

        
        
    }

    @media screen and (min-width: $baseBreakpoint) { 

        transition: all 250ms ease-in-out;

        > .jPanel { 

            display: block; position: absolute; bottom: 0; left: 50%; 

        }

        .prevBtn,
        .nextBtn {

            float: left; display: inline-block; width: 5rem; height: 5rem; box-sizing: border-box;
            background: $baseColor; text-align: center; color: #fff; border: none;
            cursor: pointer; outline: none; transition: background 150ms ease-in-out; 

            &:before { 

                 

            }

            &:hover { 

                background: darken($baseColor,10%); 

            }

        }

    }

}
