
// Import
@import 'variables';

// Base Styles
.jScrolly { 

    overflow: hidden; 

} 

.jPanel { 

    display: none; 

}

.jContent {

    
    
}

@media screen and (min-width: $baseBreakpoint) { 

    .jScrolly { 

        transition: all 250ms ease-in-out; 
        -webkit-transition: all 250ms ease-in-out; 
    }

    .jPanel { 

        display: block; position: absolute; bottom: 0; left: 50%; margin-left: -50px; width: 100px; 
        z-index: 9; 

        .jBtn { 

            float: left; display: block; width: 50px; height: 50px; 
            background: $baseColor; text-align: center; color: #fff; 
            cursor: pointer; transition: background 150ms ease-in-out;

            &:before { 

                line-height: 2.12; 

            }

            &:hover { 

                background: darken($baseColor,10%); 

            }

            &:active { 

                &:before { 

                    line-height: 2.2; 

                } 

            }
        }
    }
}
