@import 'library/all';

.jScrolly {

	> .jPanel {

		display: block; position: absolute; top: 100%; left: 50%;
		margin-left: (-$btnSize/10) + rem;

		> .prevBtn,
		> .nextBtn {

			float: left; display: inline-block; width: ($btnSize/10) + rem; height: ($btnSize/10) + rem; padding: 0; box-sizing: border-box;
			background: $baseColor; text-indent: -9999rem; border: none; position: relative; overflow: hidden;
			cursor: pointer; outline: none; transition: background 150ms ease-in-out;

			&:before {

				content: ''; position: absolute; top: 50%; left: 50%; margin: -6px 0 0 -3px;
				border: 6px solid transparent;

			}

			&:hover {

				background: darken($baseColor,10%);

			}

			&.neactive {

				pointer-events: none; cursor: not-allowed; background: lighten($baseColor,50%);

			}

		}

		> .prevBtn {

			&:before {

				border-right-color: #fff; margin-left: -8px;

			}

		}

		> .nextBtn {

			&:before {

				border-left-color: #fff;

			}

		}

	}

}
