
.jScrolly 	{ overflow: hidden; }
.jPanel 	{ display: none; }

@media screen and ( min-width: $breakpoint_medium ) { 

	.jScrolly { transition: all 250ms ease-in-out; -webkit-transition: all 250ms ease-in-out; }

	.jPanel { 

		display: block; position: absolute; bottom: 0; left: 50%; @include rem(margin-left,-50px); @include rem(width,100px); z-index: 9; 

		.jBtn 	{ 

			float: left; display: block; @include rem(width,50px); @include rem(height,50px); background: $c_pink_dark; text-align: center; @include rem(font-size,25px); color: $c_white; cursor: pointer; transition: background 150ms ease-in-out;

			&:before 	{ line-height: 2.12; }
			&:hover 	{ background: $c_pink_darkest; }
			&:active 	{ &:before { line-height: 2.2; } }

		}
	}
}
